*~
*.pyc
__pycache__
*.marks
*.smap
.*.swp
.pepper/
/dist/
/old/pepper1/www/html
/old/pepper1/www/samples/*/*.asciidoc
/old/pepper1/www/real_samples/samples/*/*.asciidoc
/old/pepper1/rc/parse/bin
/old/pepper1/rc/parse/PepperLexerTokenTypes.txt
/old/pepper1/rc/parse/PepperLexer.py
/old/pepper1/rc/parse/PepperParserTokenTypes.txt
/old/pepper1/rc/parse/PepperParser.py
/old/pepper1/rc/parse/PepperTreeWalker.py
/old/pepper1/rc/parse/LexedLexerTokenTypes.txt
/old/pepper1/rc/parse/LexedLexer.py
/old/pepper1/rc/parse/LexedParser.py
/old/pepper1/rc/newsyntaxparse/bin
/old/pepper1/rc/newsyntaxparse/NewSyntaxPepperLexerTokenTypes.txt
/old/pepper1/rc/newsyntaxparse/NewSyntaxPepperLexer.py
/old/pepper1/rc/newsyntaxparse/NewSyntaxPepperParserTokenTypes.txt
/old/pepper1/rc/newsyntaxparse/NewSyntaxPepperParser.py
/old/pepper1/rc/newsyntaxparse/NewSyntaxPepperTreeWalker.py
/old/pepper1/rc/newsyntaxparse/NewSyntaxLexedLexerTokenTypes.txt
/old/pepper1/rc/newsyntaxparse/NewSyntaxLexedLexer.py
/old/pepper1/rc/newsyntaxparse/NewSyntaxLexedParser.py
/old/pepper1/www/xhtml11-modified.conf

