*~
www/samples/*/*.asciidoc
www/real_samples/samples/*/*.asciidoc
*.pyc
www/html
*.marks
*.smap
src/parse/bin
src/parse/EeyoreLexerTokenTypes.txt
src/parse/EeyoreLexer.py
src/parse/EeyoreParserTokenTypes.txt
src/parse/EeyoreParser.py
src/parse/EeyoreTreeWalker.py
src/parse/LexedLexerTokenTypes.txt
src/parse/LexedLexer.py
src/parse/LexedParser.py
.eeyore
